.row
  .col-xs-12.self-margin
    .sua-container-header
      h4.header.smaller.lighter.grey
        i.menu-icon.fa.fa-calendar
        |
        | 本学期成绩（#{semester}）
      include ../gpa/semesterTranscriptLabels.pug
    .sua-container-content
      p
        span.greater-than-avg 绿色
        |
        | 代表您的成绩高于或等于课程平均分，
        span.less-than-avg 红色
        |
        | 代表您的成绩低于课程平均分
      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th 课程名
            th 课程号
            th.center 课序号
            th.center 学分
            th.center 属性
            th.center 最高分
            th.center 平均分
            th.center 最低分
            th.center 分数
            th.center 等级
            th.center 绩点
            th.center 名次
            th.center 考试时间
            th.center 未通过原因
        tbody#scoretbody
          each v in courseScoresList
            tr(class=[v.courseScore >= v.avgScore ? 'greater-than-avg' : 'less-than-avg'])
              td= v.courseName
              td= v.courseNumber
              td.center= v.coureSequenceNumber
              td.center= v.credit
              td.center= v.coursePropertyName
              td.center= v.maxScore
              td.center= v.avgScore
              td.center= v.minScore
              td.center= v.courseScore
              td.center= v.levelName
              td.center= v.gradePoint
              td.center= v.rank
              td.center= v.examtime
              td.center= v.unpassedReasonExplain
