h4.header.smaller.lighter.grey
  i.menu-icon.fa.fa-calendar
  |
  | #{semester}
  |
  span.gpa-info-badge.badge.badge-yellow(title=`在${semester}，您一共修读了 ${coursesQuantity} 门课程`)
    | #{coursesQuantity} 门
  |
  |
  span.gpa-info-badge.badge.badge-yellow(title=`在${semester}，您一共修读了 ${totalCourseCredits} 学分`)
    | #{totalCourseCredits} 学分
  |
  |
  span.gpa-info-badge.gpa-info-badge-st-selected-course-quantity.badge.badge-pink(title=`在${semester}，您当前选中了 0 门课程`, data-semester=semester)
    | 0 门
  |
  |
  span.gpa-info-badge.gpa-info-badge-st-selected-course-credits.badge.badge-pink(title=`在${semester}，您当前选中的课程总学分为 0`, data-semester=semester)
    | 0 学分
  button.btn.btn-white.btn-minier.gpa-st-select-all-btn(data-semester=semester)
    i.ace-icon.fa.fa-check.green
    | 全选
  button.btn.btn-white.btn-minier.gpa-st-cancel-btn(data-semester=semester)
    i.ace-icon.fa.fa-times.red2
    | 全不选
